{% extends "headeryfooter.html" %}
{% block content %}

{% if messages %}
    {% for mensaje in messages %}
        <div class="alert alert-warning" role="alert">
            {{mensaje}}
        </div>
    {% endfor %}
{% endif %}


{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/estilosLogin.css' %}">

<form action="" method="POST">
    {% csrf_token %}
    <div id="divLogin">
        <label id="loginUsuario">Usuario:</label>
        <input id="inputLoginUsuario" type="text" maxlength="20" name="usuario" v-model="messageInput1Actualizado" placeholder="Introduce nombre">
        
        <label id="loginContraseña">Contraseña:</label>
        <input id="inputLoginContraseña" type="password" maxlength="20" name="contraseña" placeholder="Introduce contraseña">
            
        <!--<div id="divImgOjoContraseña"></div>
        -->
        <p id="idMessageInput1">
        </p>
        <p id="idMessageInput2">
        </p>
        <p id="idAvisoMessageInput">
        </p>
        <p id="idAvisoMessageInputCorrecto">Usuario:
        </p>
        <p id="idAvisoMessageInputCorrecto2">
        </p>     
        <p id="idAvisoMessageInputCorrecto3">Contraseña:
        </p>
        <p id="idAvisoMessageInputCorrecto4">
        </p>   
         <!--
            <button id="posicionButtonMessageInput">Verificar datos
            </button>
               -->
        <button id="posicionoBorrarUsuario">Borrar usuario
        </button>
        <button id="posicionoBorrarContraseña">Borrar contraseña
        </button>            

        <button id="idChequeo2" onclick="chequeo1()">
            <a id="posicionoButtonLoguearse" target="_blank" >Loguearse</a>  
        </button>

        </div>

    <div id="divImgOjoContraseña">
        <button id="buttonImgOjoContraseña"> </button>
        <img id="" src="{% static 'imagenes/ojo Contraseña.png' %}"  alt="Mostrar contraseña" title="">
    </div>
</form>

    <!-----------       
------->
<!--
<script>
  document.addEventListener('DOMContentLoaded', () => {
        const togglePasswordVisibility = (inputId, iconId) => {
            const mostrarContraseña = document.getElementById(inputId);
            const icon = document.getElementById(iconId);

            icon.addEventListener("click", () => {
                if (mostrarContraseña.type === "password") {
                    mostrarContraseña.type = "text";
                } else {
                    mostrarContraseña.type = "password";
                }
            });
        };

        togglePasswordVisibility("inputLoginContraseña", "idJuegoComprar1");
    });
    </script>  
-->
<script>
    

    var varLoginUsuario=document.getElementById("inputLoginUsuario");
    var varLoginContraseña=document.getElementById("inputLoginContraseña");
    var varIdAvisoMessageInputCorrecto2=document.getElementById("idAvisoMessageInputCorrecto2");
    var varIdAvisoMessageInputCorrecto4=document.getElementById("idAvisoMessageInputCorrecto4");
////


    function chequeo1(valorContraseña,valorUsuario){   
        var valorContraseña = document.getElementById('inputLoginContraseña').value;
        var valorUsuario = document.getElementById('inputLoginUsuario').value;
        
        localStorage.setItem('textoGuardado', valorContraseña);//textoguardado almacena el valor de var valor
        localStorage.setItem('textoGuardado2', valorUsuario);

        var textoGuardado = localStorage.getItem('textoGuardado');
        var textoGuardado2 = localStorage.getItem('textoGuardado2');

        document.getElementById("posicionoButtonLoguearse").innerHTML;
        varIdAvisoMessageInputCorrecto2.innerHTML=varLoginUsuario.value;
        varIdAvisoMessageInputCorrecto4.innerHTML=varLoginContraseña.value;

        if (valorContraseña!="" && valorUsuario !=""){

            //alert("Usuario:" + textoGuardado2 + "."+ "\n" + "Contraseña:" + textoGuardado);
            //var pepe=document.getElementById('enlace').setAttribute('href', baseUrl+'/id/'+id);
        }else{
            alert("Aviso: Faltan Datos o falta verificar datos.");
        }
        return {
        usuario: valorUsuario,
        contraseña: valorContraseña
    };
    }

</script>
{% endblock %}


